<form class="profile-form {{formClass}}" action="">
    {{#if name}}
        <div class="profile-form__username">
            {{name}}
        </div>
    {{/if}}

    {{#each fields}}
        <div class="profile-form__input-group">
            {{{Input type=type required=required name=name placeholder=placeholder class='profile-input' value=value}}}
        </div>
    {{/each}}
    {{{ Button submitDisabled=submitDisabled label='Изменить данные'}}}

    {{#if response}}
        <div class="auth-form__response">
            {{response}}
        </div>
    {{/if}}
</form>
