{{#Base}}
    <nav class="index">
        {{{Link withRoute=true onClick=onLinkClick url='/login' text='Login'}}}
        {{{Link withRoute=true onClick=onLinkClick url='/signup' text='Sign up'}}}
        {{{Link withRoute=true onClick=onLinkClick url='/profile' text='Profile'}}}
        {{{Link withRoute=true onClick=onLinkClick url='/chat' text='Chat'}}}
        {{{Link withRoute=true onClick=onLinkClick url='/error404' text='404'}}}
        {{{Link withRoute=true onClick=onLinkClick url='/error500' text='500'}}}
    </nav>
{{/Base}}
