{{#Base}}
    <nav class="index">
        {{{Link withRoute=true onClick=onLinkClick url='/login' text='Login'}}}
        {{{Link withRoute=true onClick=onLinkClick url='/sign-up' text='Sign up'}}}
        {{{Link withRoute=true onClick=onLinkClick url='/settings' text='Profile'}}}
        {{{Link withRoute=true onClick=onLinkClick url='/messenger' text='Chat'}}}
        {{{Link withRoute=true onClick=onLinkClick url='/error404' text='404'}}}
        {{{Link withRoute=true onClick=onLinkClick url='/error500' text='500'}}}
    </nav>
{{/Base}}
