<div class="dialog {{#if active}}dialog_active{{/if}}">
    <div class="dialog__thumbnail">
        {{#if avatarUrl}}
            <img src="{{avatarUrl}}" alt="{{title}}">
        {{else}}
            <img src="{{defaultAvatar}}" alt="{{title}}">
        {{/if}}

    </div>
    <div class="dialog__content">
        <div class="dialog__title">{{title}} - {{active}}</div>
        <div class="dialog__description" title="{{description}}">{{description}}</div>
    </div>
    <div class="dialog__badges">
        <div class="dialog__time">{{lastMessageTime}}</div>

        {{#if unreadMessagesCount}}
            <div class="dialog__messages-count">{{unreadMessagesCount}}</div>
        {{/if}}
    </div>
</div>

